#productForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 97%;
	gap: 40px;
	/* border: 1px solid red; */
	border-radius: 20px;
	position: relative;
	/* padding: 10px; */
	width: 400px;
	margin: 0;
	position: relative;
	background-color: rgb(240, 240, 240);
}
#productForm input[type="text"],
#productPrice,
#discountPercent,
#oldPrice,
select {
	margin-left: 10px;
	position: absolute;
	right: 10px;
	padding: 5px;
	border-radius: 10px;
	line-height: normal;
	border: 1px solid rgb(252, 252, 252);
}
#productForm input::placeholder {
	opacity: 1;
	font-size: 13px;
	color: rgb(29, 29, 29);
}
label {
	margin-left: 10px;
}
#productForm select {
	width: 190px;
}
/* #productForm select; */
#submitDetails {
	/* position: static; */
	width: 50% !important;
	background-color: greenyellow;
	border: none !important;
	padding: 10px !important;
	text-align: center !important;
	font-weight: 600;
	bottom: 0;
	border-radius: 0 0 0 20px;
	left: 0;
}
input[type="submit"]:hover {
	cursor: pointer;
}

#goToProductsPage {
	width: 50%;
	height: 40px;
	border: none;
	background-color: tomato;
	color: white;
	font-weight: 600;
	border-radius: 0 0 20px 0;
}

#twoButtons {
	display: flex;
	width: 100%;
}
