html,
body{
    background-color:#f5f8fa ;
    font-family: 'Roboto', sans-serif;
    color:#494848
    
    }
    h2{
        margin-left:190px;
        color:#5bac99;
        font-weight: normal;
    }
    #mainbox{
        width:1000px;
        height:140px;
        margin-left: 80px;
       
        display:flex;
        flex-direction: row;
    }
   #boxLeft{
 width:300px;
 height:140px;

 margin-left:230px;
   }
   #boxRight{
    width:300px;
    height:140px;
  
   
      }
      #inputDom{
          background-color:#f5f8fa ;
          border:none;
      }
   #input{
       width:90%;
       height:40px;
       border-radius: 5px;
       border:none;
   }
   #inputLable{
margin-top: 20px;
   }
   #btn{
background-color:#f9ae42 ;
margin-left:520px;
height:50px;
width:150px;
border-radius: 5px;
color:white;
font-size: medium;
font-weight: bold;
border:none;
   }