html,
body {
  background-image: url(https://www.pulseplus.in/content/images/icons/bg.png);
}

#box {
  background-color: white;
  border: 1px solid rgb(148, 146, 146);
  width: 45%;
  margin: auto;
  margin-top: 150px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#outbox {
  height: 50px;
  width: 87%;
  margin: auto;
  display: flex;
  margin-top: 15px;
}
#logo {
  margin-bottom: 10px;
}
#input {
  height: 39px;
  width: 85%;
  padding: 2px;
}
#minbox {
  border: 1px solid black;
  height: 40px;
  width: 60px;
  padding: 2px;
  border-radius: 4px;
}
#minbox > img {
  height: 37px;
  width: 50px;
}
button {
  height: 40px;
  width: 320px;
  background-color: rgb(228, 165, 48);
  border-radius: 5px;
  margin-top: 15px;
}
h2 {
  color: rgb(46, 166, 214);
  text-align-last: right;
  text-decoration-line: underline;
}
#head {
  text-align: left;
  margin-left: 39px;
  font-family: sans-serif;
}
img {
  background-color: whitesmoke;
}
#btn {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}
