html,
body {
  background-image: url(https://www.pulseplus.in/content/images/icons/bg.png);
}

#box {
  background-color: white;
  border: 1px solid rgb(148, 146, 146);
  width: 45%;
  margin: auto;
  margin-top: 150px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#outbox {
  height: 50px;
  width: 87%;
  margin: auto;
  display: flex;
  margin-top: 20px;
}

input {
  height: 39px;
  width: 89%;
  padding: 2px;
}
#minbox {
  border: 1px solid black;
  height: 40px;
  width: 10%;
  padding: 2px;
  border-radius: 4px;
}
#minbox > img {
  height: 70%;
  width: 70%;
}
button {
  height: 40px;
  width: 50%;
  background-color: rgb(228, 165, 48);
  border-radius: 5px;
  margin-top: 15px;
}
a > p {
  color: rgb(46, 166, 214);
  text-align-last: right;
  margin-right: 30px;
  font-size: 200%;
}
#head {
  text-align: left;
  margin-left: 39px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color:rgb(66, 74, 77);
  margin-top: 10px;
  margin-bottom: 8px;
}

#btn {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

.errorMassageDiv{
    height: 18px;
    width: 82%;
    padding: 15px;
    background-color: rgb(221, 163, 125);
    margin: auto;
    border-radius: 5px;
    color:aliceblue;
    font-size: large;
    font-family: sans-serif;


}


/* .errorMassage{
    
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: large;
} */

