@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
	background-image: url(https://www.pulseplus.in/content/images/icons/bg.png);
	font-family: "Roboto", sans-serif;
}

#box {
	background-color: white;
	border: 1px solid rgb(148, 146, 146);
	width: 40%;
	margin: auto;
	margin-top: 5%;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

input {
	height: 45px;
	border-radius: 5px;
	border: 1px solid grey;
	padding-left: 10px;
	width: 80%;

	color: rgb(104, 103, 103);
}
#refbox {
	border: 1px solid red;
	height: 50px;
	width: 70%;
	margin: auto;
	display: flex;
}
#refbox > input {
	border: 1px solid red;
	height: 20px;
	width: 40%;
}
button {
	background-color: rgb(249, 174, 66);
	border-radius: 10px;
	height: 48px;
	width: 50%;
	/* margin-left: 35px; */
	margin-top: 20px;
	color: white;
	border: none;
}
button:hover {
	cursor: pointer;
}
#sms {
	display: flex;
	margin: auto;
}
#verify {
	margin-top: 15px;
	text-decoration: none;
}
h2 {
	text-align: start;
	margin: 0 auto 10px auto;
	font-size: larger;
	color: rgb(59, 59, 59);
	font-weight: 400;
	/* border: 1px solid black; */
	width: 80%;
	/* padding-left: 20px; */
}
p {
	text-align: start;
	/* margin-left: 60px; */
	width: 80%;
	margin: 10px auto 10px auto;
	color: rgb(68, 68, 68);
}
#box > div {
	margin-top: 15px;
}
h4 {
	text-align: start;
	margin-left: 60px;
	font-size: large;
	font-weight: 400;
	margin-left: 69px;
}
a,
a:visited {
	text-decoration: none;
	font-size: medium;
	color: rgb(18, 147, 156);
}
#box > div {
	margin-top: 15px;
}
.checkMassage {
	color: rgb(200, 31, 31);
	font-size: 17px;
	font-weight: bold;
	font-family: "Barlow", sans-serif;
}
#sms + h4 {
	font-size: 18px;
	color: rgb(59, 59, 59);
	width: 80%;
	text-align: center;
	margin: 0 auto 20px auto;
}
