@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
	background-color: whitesmoke;
	font-family: "Roboto", sans-serif;
}
#main {
	width: 70%;
	display: flex;
	flex-flow: column;
	margin: auto;
	margin-top: 10%;
}
#box1 {
	border: 1px solid rgb(196, 194, 194);
	height: 90px;
	width: 60%;
	margin: auto;
	border-radius: 10px 10px 0 0;
	display: flex;
	/* justify-content: center; */
	align-items: center;

	background-color: white;
}
#box2 {
	border: 1px solid rgb(196, 194, 194);
	height: 70px;
	width: 60%;
	margin: auto;
	border-radius: 0 0 10px 10px;
	border-top: none;
	background-color: white;
	padding: 10px 0;
}
#box1 > img {
	max-width: 100%;
	height: auto;
	margin-left: 40px;
	/* border: 1px solid black; */
}
#box1 > h2 {
	/* border: 1px solid black; */
	padding-left: 20px;
}
h2 {
	color: rgb(83, 80, 80);
	font-weight: 100;
}
#rupee {
	color: rgb(31, 184, 184);
	font-weight: bold;
}
#shop {
	border: 1px solid white;
	background-color: rgb(249, 174, 66);
	height: 50px;
	width: 200px;
	margin: auto;
	margin-top: 6px;
	display: flex;
	border-radius: 8px;
}
#shop > img {
	height: 30px;
	padding: 8px;
	background-color: rgb(249, 174, 66);
	border-radius: 10px 0 0 10px;
}
#shop > button {
	border: 1px solid rgb(249, 174, 66);
	height: 45px;
	width: 25%;
	margin-top: 5px;

	font-size: 20px;
	background-color: rgb(249, 174, 66);
	color: white;
}
#shop > button {
	cursor: pointer;
}
#btn {
	border: 1px solid white;
}
