#partnerSection {
	display: flex;
	margin: 15px auto;
	flex-wrap: no-wrap;
	width: 900px;

	/* border: 1px solid red; */
}

#partnerSection > div {
	display: flex;
	border: 1px solid rgb(212, 212, 212);
	justify-content: center;
	width: 10%;
	align-items: center;
	/* padding: 0px 3px; */
	box-sizing: border-box;
	vertical-align: middle;
	background-color: white;
	margin: 5px;
}

#partnerSection > div > img {
	max-width: 50%;
	height: 50%;
}
