#container {
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(237, 241, 241);
	border-radius: 20px;
	width: max-content;
	margin: auto;
	height: 450px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#container > h3 {
	padding: 10px;
	margin: 0 0 5px 0;
	background-color: greenyellow !important;
	border-radius: 20px 20px 0 0;
	text-align: center;
	color: rgb(29, 29, 29);
}
#detailsContainer {
	display: flex;
	/* border: 1px solid black; */
	padding: 10px;
	justify-content: center;
	gap: 10px;
}
#container > div > div {
	/* border: 1px solid red; */
	border-radius: 10px;
	background-color: thistle;
	width: 15%;
	height: 120px;
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#container > div > div > i {
	font-size: 50px;
	margin: 0;
}
.webSiteDetailsText {
	/* border: 1px solid blue; */
	width: 50%;
	text-align: center;
}
.webSiteDetailsText > h2,
.webSiteDetailsText p {
	margin: 5px;
}
#mainHeading {
	text-align: center;
	color: rgb(29, 29, 29);
	/* border: 1px solid red; */
	width: max-content;
	margin: 20px auto;
	/* padding: 10px; */
}
#overviewH2 {
	text-align: center;
	color: rgb(29, 29, 29);
	background-color: greenyellow;
	border-radius: 20px 20px 0 0;
	margin-top: 0;
	padding: 20px;
}
#dashboardTableDiv {
	border: 1px solid rgb(255, 255, 255);
	height: 42%;
	border-radius: 20px;
	width: 99%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
#dashboardTableDiv > h4 {
	width: 100%;
	background-color: greenyellow;
	margin: 0 auto 10px auto;
	padding: 10px 0 10px 0;
	border-radius: 10px 10px 0 0;
	text-align: center;
}
#dashBoardTable th {
	/* border: 1px solid rgb(0, 0, 0); */
	width: 200px;
	border-radius: 10px 10px 0 0;
	border: none;
	background-color: tomato;
	color: rgb(255, 255, 255);
}
#dashBoardTable td {
	background-color: greenyellow;
	border: none;
	border-radius: 10px 10px 0 0;
}
