body{
    background-color:#f5f8fa;
}
#container{
    width:100%;
    height:200px;
    border:1px solid black;
    background-color: #b9e9c1;
}
img{
    margin-left:35%;
    height:100%;
    border-radius: 50%;
}
#box{
    width:50%;
    height:450px;
    border:1px solid black;
    margin:auto;
    margin-top: 150px;

}
button{
    
    background-color: red;
    color:white;
    height:40px;
    border-radius:10px;
    border:none;
    width:150px;
}
#container2{
   text-align: center;
   background-color: silver;
}