body{
    min-width: 920px;
    /* border: 1px solid tomato; */
    height: 39rem;
    /* min-height: 60%; */
    /* position: relative; */
    /* transform: translateX(-8%); */ */
}

.carousel{
    position: relative;
    width: 55%;
    margin: 0 auto;
    /* border: 1px solid brown; */
    height: 70%;
    overflow: hidden;
}

.slides{
    /* background-color: brown; */
    /* padding: 10px; */
    height: 99%;
    position: relative;
    transition: transform 1700ms ease-in-out;
    /* animation: autoplay 40% linear infinite; */
    /* overflow: hidden; */
}

/* @keyframes autoplay{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-673px * 4));
    }
} */

.slide__container{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /* overflow: hidden; */
}

.slide__container img{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.btn{
    position: absolute;
    top: 30%;
    transform: translateY(-20%);
    cursor: pointer;
    border: 1px solid rgb(189, 240, 240);
    background: transparent;
    padding: 10px;
    border-radius: 8px;
}

.btn:hover{
    background-color: rgb(199, 223, 223);
}

#preBtn{
    left: 5px;
}

#nextBtn{
    right: 5px;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.slide__indicator{
    margin: 10px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: rgb(204, 204, 204);
    border: 0;
}

.currentIndicator{
    background-color: rgb(95, 95, 95);
}

/* .navbar{
    position: absolute;
    bottom: 5%;
} */


@media screen and (max-width:1800px) {
    .btn{
        top: 45%;
    }
}


@media screen and (max-width:1650px) {
    .btn{
        top: 40%;
    }
}

@media screen and (max-width:1100px) {
    .btn{
        top: 30%;
    }
}